html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: #00B7FF;
}

.container-fluid {
  height: 100%;
}

#app-row {
  height: 100%;
}

.row > * {
  padding: 0;
}

nav {
  background-color: #464f77;
  height: 100%;
}

#v-pills-tab {
  width: 100%;
  padding: 2rem 0;
}

button.nav-link {
  color: white;
  box-sizing: border-box;
  height: 3rem;
}

button.nav-link h5 {
  display: inline-block;
  width: 90%;
  margin-bottom: 0;
}

span.nav-todo-count {
  display: inline-block;
}


.nav-pills .nav-link.active {
  background-color: #383f5f;
  border-radius: 0;
}

.app-content {
  padding: 2rem;
}

.section-title {
  margin-bottom: 2rem;
}

.add-todo-btn {
  margin-bottom: 2rem;
}

li.todo-item {
  box-sizing: border-box;
}

li.todo-item span {
  margin-left: 1rem;
}

a.todo-area {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 97%;
  padding: 0.5rem 0;
}

a.todo-area:hover {
  background: rgba(200,100,100, 0.5);
}

a.trashBtn {
  display: inline-block;
  width: 2%;
  padding: 0.5rem 0;
}

a.trashBtn:hover {
  background: rgba(57, 91, 202, 0.5);
}

.todo-item .li_title {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

/* Form CSS */
form *{
  background: none;
  padding: 0;
  font-size: 16px;
  color: #757575;
}
form label{
  float: left;
  width: 110px;
  padding-top: 12px;
  padding-left: 0;
  margin-bottom: 0.5em;
}
form input, form textarea {
  float: left;
  width: 395px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #A6A6A6;
  border-radius: 5px;
}
form{
  /* padding-top: 40px; */
  width: 100%;
  margin: 0 auto;
}
form textarea{
  resize: none;
  height: auto;
}
form textarea:after{
  display: block;
  content: "";
  clear: both;
}
.date {
  float:left;
  width: 401px;
}
.date input, .date select{
  float: none;
  width: 121px;
  padding: 10px;
  box-sizing: border-box;
}
.date select{
  height: 43px;
}
form input[type="submit"], form button{
  background-color: #148fd5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
form input[type="submit"]{
  display: inline-block;
  clear: both;
  width: auto;
  margin: 25px 20px 0 0;
  padding: 10px 70px;
}
form button{
  padding: 10px 20px;
  margin: 25px 0 40px 0;
}
form li{
  padding: 0 0 60px 0;
  display: block;
}
form li:last-of-type{
  padding-bottom: 0;
}